{% extends "base.html" %}

{% block body_block %}

<div class="detail">
  <h1>{{json_object.login}}</h1>
  <h2>Name : {{json_object.name}}</h2>
  <h2>Repository: {{json_object.public_repos}}</h2>
  <h3>Followers : {{json_object.followers}}   Following : {{json_object.following}}</h3>
  <img class="image" src="{{json_object.avatar_url}}" alt="" align="top"  width="305" height="305" style="float:right;">
</div>

  {%for obj in json_object_1 %}
<div class="display">

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-8">
        <ul class="position">
          <li><p><h3>Name of Repository : <a class="text-success" href="{% url 'git_app:git_repo' username=json_object.login params=obj.name %}">{{obj.name}}</a></h3></p></li>
          <li><p><h3>Language of Repository : {{obj.language}}</h3></p></li>
        </ul>
      </div>
    </div>

  </div>

</div>
{% endfor %}



{% endblock%}
